@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap');

body {
  margin: 0;
  text-align: center;
  font-size: 20px; 
  font-family: 'ZCOOL KuaiLe', cursive; /* 使用 'ZCOOL KuaiLe' 字体 */
  user-select: none;
}
header {
  margin: 0 auto;
  width: 431px;
}
h1 {
  background: url("https://raw.githubusercontent.com/tan0327/tesing123/main/JavaScript%20Fly%20Ghost.png") 0% 340px;
  padding: 1.2rem 0;
  margin: 0;
  color: white; /* 添加这一行来设置字体颜色为白色 */
}
.score-container {
  display: flex;
  justify-content: space-between;
  padding: 8px 6px;
  background: #5EE270;
} 
